In [1]:
import dolphindb

In [2]:
sess = dolphindb.session()

In [3]:
sess.connect('localhost', 8848, '', '')

True

In [4]:
LOAD_TABLE = """
futTaifex = loadTable("dfs://futTaifex", `futTaifex)
"""
sess.run(LOAD_TABLE)

In [7]:
sess.run("""
select concatDateTime(Date, Time) as DateTime, Code, Settle, 
       Price, Volume from futTaifex where Code=='TX', Settle=='201904', Date > 2019.04.01
""")

                  DateTime Code  Settle    Price  Volume
0      2019-04-02 00:00:01   TX  201904  10666.0       2
1      2019-04-02 00:00:01   TX  201904  10667.0       4
2      2019-04-02 00:00:01   TX  201904  10667.0      16
3      2019-04-02 00:00:01   TX  201904  10667.0       2
4      2019-04-02 00:00:01   TX  201904  10667.0       2
...                    ...  ...     ...      ...     ...
535374 2019-04-17 13:29:59   TX  201904  11004.0       4
535375 2019-04-17 13:29:59   TX  201904  11004.0       2
535376 2019-04-17 13:29:59   TX  201904  11004.0       4
535377 2019-04-17 13:30:00   TX  201904  11004.0       4
535378 2019-04-17 13:30:00   TX  201904  11004.0       2

[535379 rows x 5 columns]